{% extends 'layouts/main.html.twig' %}

{% block title %}{{ category.parent.name }} {{ category.name }}{% endblock %}

{% block body %}
    {{ parent() }}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            {% if category.image %}
                <img src="{{ asset(category.image) }}" class="">
            {% endif %}

            <h1>
                {% if category.parent is  defined %}
                    {{ category.parent.name }}
                {% endif %}
                {{ category.name }}
            </h1>
            <br>
        </div>
    </div>
    <div class="content_line"></div>

    {% for article in category.articles %}
    <div class="post-show">
        <h3>
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
            <a href="{{ path(article.link , {'article' : article.id}) }}">{{ article.title }}</a>
        </h3>
        <div class="post-meta">
            <span class="post-meta-author">Автор: {{ article.author.email }}</span>
            <span class="post-meta-date">Дата публикации:
                        {{ article.createDate | date("d.m.Y") }}
                    </span>
            <span class="post-meta-comment">Комментариев: {{ article.comments | length }}</span>
        </div>
        <div class="row post-content">
            <div class="cont-img col-5">

                <a href="{{ path(article.link , {'article' : article.id}) }}">
                    {% if article.image %}
                        <img src="{{ asset('build/images/article/' ~ article.image) }}" alt="">
                    {% else %}
                        <img src="{{ asset('build/images/style/post_no_image.png') }}"
                             style="float:left;margin-right:15px;margin-bottom:15px">
                    {% endif %}
                </a>
            </div>

            <div class="cont-text col-7">
                <!--Если отсутствует анонс поста - берем из контента первые слова-->
                {{ article.shortText | raw }}
                <p class="read_more read-more-note">
                    <a class="btn btn-outline-info" href="{{ path(article.link , {'article' : article.id}) }}">Читать
                        далее</a></p>
            </div>
        </div>
        <div class="count_look text-right">
            <i class="fa fa-eye" aria-hidden="true"></i>
            Просмотров:
            <span class="post-info-look">{{ article.views }}</span>

        </div>
        <div class="post-info">
            <div class="bl_info">
                <i class="fa fa-folder-open" aria-hidden="true"></i>
                <span class="post-info-category">Категория:
                    <a class="trans" href="#">{{ article.category.name }}</a>
                </span>
                {% if article.tags %}
                    <span class="post-info-tags">
                        <i class="fa fa-tags" aria-hidden="true"></i>
                        {% for tag in article.tags %}
                            <a class="trans" href="#"> {{ tag.name }} </a>
                        {% endfor %}
                    </span>
                {% endif %}

            </div>
        </div>

    </div>
    <div class="content_line"></div>
    {% endfor %}

</div>
{% endblock %}