<nav class="navbar navbar-expand-lg navbar-light bg-light">
{#    <a class="navbar-brand" href="#">Navbar</a>#}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            {% for menu in main_menu_top() %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ path(menu.link, {'category' : menu.id}) }}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ menu.name }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% for children in menu.articleCategories %}
                        <a class="dropdown-item" href="{{ path(children.link, {'category' : children.id}) }}">{{ children.name }}</a>
                        {% endfor %}

{#                        <a class="dropdown-item" href="#">PHP</a>#}
{#                        <a class="dropdown-item" href="#">Верстка</a>#}
{#                        <a class="dropdown-item" href="#">Linux</a>#}
                    </div>
                </li>
            {% endfor %}

{#            <li class="nav-item dropdown">#}
{#                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                    Продукты#}
{#                </a>#}
{#                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">#}
{#                    <a class="dropdown-item" href="#">Скрипты</a>#}
{#                    <a class="dropdown-item" href="#">Программы</a>#}
{#                    <a class="dropdown-item" href="#">Классы</a>#}
{#                </div>#}
{#            </li>#}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('news') }}">Новости</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Правила</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('contact') }}">Контакты</a>
            </li>

        </ul>
    </div>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="поиск по сайту" aria-label="найти">
        <button class="btn btn-danger" type="submit"><i class="fa fa-search fa-lg"></i></button>
    </form>
</nav>